@import '../../styles/main.scss';

.Todo_form {
  display: flex;
  width: 250px;
  margin-left: 0;
  margin-bottom: 20px;

  @include for-size(tablet) {
    width: 350px;
  }
}

.Todo_input {
  width: 200px;
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: normal;

  transition: all $cubic;

  &:focus {
    outline: transparent;
    border: 1px solid $primary-text-color;
  }
}

.Todo_button {
  @include transBtn();
  @include flexbox();
  margin-left: 20px;
}
